// Light Mode Colors
$light-page-bg: #FAF6E9;
$light-cards: #ECE8D9;
$light-highlight: #FFFDF6;
$light-text: #494949;

// Dark Mode Colors
$dark-page-bg: #1E1E1C;
$dark-cards: #2A2A28;
$dark-text: #F5F3EA;
$dark-secondary-text: #CFC8B8;
